body {
  font-family: Arial, sans-serif;
  background-color: #fdfdfd;
  padding: 30px;
  color: #000;
}

.schedule-container {
  max-width: 1000px;
  margin: auto;
  text-align: center;
}

h2 {
  margin-bottom: 25px;
  font-size: 24px;
}

.schedule-table {
  width: 100%;
  border-collapse: collapse;
  margin: auto;
  font-size: 15px;
}

.schedule-table th,
.schedule-table td {
  border: 1px solid #303030;
  padding: 12px;
  text-align: center;
  vertical-align: middle;
}

.schedule-table th {
  background-color: #ffcf33;
  font-weight: bold;
}
